<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Escolher Trilha</title>
    <link rel="shortcut icon" href="/assets/faviconpng.png" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/formCreateTrail.css" />
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/cardsTrail.css" />
    <link rel="stylesheet" href="/css/loader.css" />
    <link rel="stylesheet" href="/css/variables.css" />

    <style>
      .hidden {
        display: none;
      }

      .active {
        background-color: #224;
      }
    </style>
  </head>

  <body onload="loadPrivatesTrails()">
    <a href="#"></a>
    <div class="toggle-conteiner" id="toggle-conteiner">
      <button id="toggle-sidebar"><i class='bx bx-menu'></i></button>
    </div>
    <div class="sidebar" id="sidebar">
        <div class="notifications hidden" id="notifications">
            <% notifications.forEach(notification => { %>
                <button onclick="loadNotification('<%= notification._id %>', '<%= notification.title %>', '<%= notification.body %>','<%= notification.link %>')"   <% if(notification.read == false) { %> class="unread" <% } %> ><%= notification.title %>
                <i><%= notification.body %></i>
                </button>
            <% }) %>
        </div>
        <div class="settings hidden" id="settings">
            <div class="checkbox-conteiner">
            <h3>Escolha quais emails você quer receber</h3>
                <div class="centered">
                    <div class="check">
                        <input id="promo" type="checkbox" <% if(promo) {%> checked <% } %> >
                        <label for="promo"></label>
                      </div>
                    <label for="promo" class="label-text">Emails Promocionais</label>
                  </div>
                  <div class="centered">
                    <div class="check">
                        <input id="news" type="checkbox"  <% if(news) {%> checked <% } %> >
                        <label for="news" ></label>
                      </div>
                    <label for="news" class="label-text">Emails sobre atualizações</label>
                  </div>
                  <div class="centered">
                    <div class="check">
                        <input id="contact" type="checkbox"  <% if(contact) {%> checked <% } %> >
                        <label for="contact"></label>
                      </div>
                    <label for="contact" class="label-text">Emails de contato oficiais</label>
                  </div>
                  <% if(premium){ %>
                  <a href="/download-extension" class="extension-login" id="auth-extension"> <i class='bx bx-extension'></i> Baixar a extensão</a>
                    <% } %>
                </div>
                  <i>Não é possivel desativar os emails de comunicados sobre a conta</i>
                  
            
        </div>
        <div class="menu" id="menu">
            <a href="/public-collections" target="_blank"> Trilhas públicas <i class='bx bxs-right-top-arrow-circle'></i></a>
            <a href="/dashboard"><i class='bx bx-list-ul' ></i> Minhas trilhas</a>
            <a href="#" id="btn-create"><i class='bx bx-list-plus'></i> Nova trilha</a>
            <a href="/"><i class='bx bx-home-alt-2'></i> Home </a>
            <a href="contact"><i class='bx bx-star'></i> Feedback</a>
            <a href="/generate-trail-form" class="button" id="trail-generator" style="margin-right: o auto">Gerador de trilhas</a>
        </div>
        <div class="sidebar-footer">
          <% if(!premium){ %>
            <a href="/prices" class="button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 24">
                    <path d="m18 0 8 12 10-8-4 20H4L0 4l10 8 8-12z"></path>
                </svg>
                Comprar Premium
            </a>
            <% } %>
              
              
            <button id="settings-btn"><i class='bx bx-cog'></i></button>
            <button id="notifications-btn" <% notifications.forEach(notification => { if(notification.read === false){ %> class="new-notification" <%}}) %>><i class='bx bx-bell '></i></button>
        </div>
    </div>
   
    

    <div class="conteiner_load" id="load">
      <div class="three-body">
        <div class="three-body__dot"></div>
        <div class="three-body__dot"></div>
        <div class="three-body__dot"></div>
      </div>
    </div>

    <div class="container" id="c1">
        <div class="box-conteiner" id="new">

      </div>
    </div>
   

    <script src="/js/dashboard/trailCardController.js"></script>
    <script src="/js/dashboard/main.js"></script>
    <script src="/js/dashboard/sidebar.js"></script>
    <% if(premium){ %> <script src="/js/dashboard/trailGenerator.js"></script> <% } %>

  </body>
</html>
